# 1日に1回実行されるワークフロー
name: Daily workflow
on:
  schedule:
    - cron: "15 * * * *"
env:
  ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
  YUKEN_LINE_ID: ${{ secrets.YUKEN_LINE_ID }}
  TZ: "Asia/Tokyo"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Daily workflow
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm tsc

      - name: Run script
        run: pnpm run daily-forkflow
